<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/styles/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/menu.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/data.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/styles/modal.css}" />
    <title>People Service</title>
    <script type="text/javascript" th:src="@{/functions/functions.js}"></script>
    <script type="text/javascript" th:src="@{/functions/modal.js}"></script>
    <script type="text/javascript">
        window.onclick = function(event) {
          const modal = document.getElementById("myModal");
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
    </script>
</head>
<body th:onload="resizeView();">
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal_content">
            <span class="close" id="modal_close" onclick="closeModal();">&times;</span>
        </div>
        <div id="modal_data" class="modal_content">

        </div>
    </div>
    <div id="header"><span id="header_text">People Service</span></div>
    <div id="content">
        <div id="menu">
            <div class="btn first_control"><input type="text" id="search_input"/></div>
            <div class="btn"><button th:onclick="search();">Search</button></div>
            <div class="btn"><button th:onclick="showAll();">Show All</button></div>
            <div class="btn"><button th:onclick="addNewPerson();">Add New</button></div>
            <div class="btn"><button>Delete All</button></div>
        </div>
        <div id="data">

        </div>
    </div>
    <div id="footer"><div id="footer_text">Created by Anton Denev</div></div>
</body>
</html>